body {
	background-color: lime;
}
p {
	font-size: x-large;
	background-color: yellow;

}
h1, h2,h3,h4, h4, h5,h6{
	background-color: purple;
}

*{
	font-weight: bold;
}
#p1{
	background-color: aqua;
}
.p3 {
	background-color: blue;
}

a:link{
	color: black;
}
a:visited {
	color: yellow;
}
a:hover{
	color: green;
}
a:active{
	color: red;
}